footer {

    .footer-main {
        padding-top: 40px;
        padding-bottom: 30px;
        background: linear-gradient(180deg, #F6F6F6 53.8%, #FCFCFC 73.07%, #F3F3F3 100%);

        .container {
            @media (max-width: 991px){
                max-width: 100%;
            }
        }

        .footer-title {
            padding-bottom: 5px;
            margin: 0;
            font-family: $font-lato-bold;
            text-transform: uppercase;
            font-size: 14px;
            color: $dark-green;
        }

        .footer-sub-title {
            margin: 0;
            font-family: $font-lato-regular;
            text-transform: uppercase;
            font-size: 12px;
            color: $dark-green;
        }

        .upper {
            padding-bottom: 20px;
            align-items: center;
            text-align: center;

            p {
                padding-left: 30px;
                margin: 0;

                @media (max-width: 767px) {
                    justify-content: center;
                    max-width: 480px;
                    padding-left: 0;
                    padding-top: 10px;
                    margin: 0 auto;
                }
            }

            img {
                @media (max-width: 767px) {
                    max-width: 60%;
                }
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 767px){
                flex-direction: column-reverse;
            }

            .footer-links {
                display: flex;

                @media (max-width: 767px){
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;
                }

                .links-wrapper {
                    padding-right: 60px;

                    @media (max-width: 991px){
                        padding-right: 20px;
                    }

                    @media (max-width: 767px){
                        padding-top: 40px;
                    }

                    &.first-menu {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        @media (max-width: 767px){
                            justify-content: flex-start;
                        }
                    }

                    ul {
                        margin-bottom: 5px;
                        padding: 0;
                        list-style: none;

                        li a {
                            color: $text-color;
                            font-size: 12px;

                            &:hover {
                                color: $brand-color;
                            }
                        }
                    }

                    .more-links {
                        @media (max-width: 767px){
                            padding-top: 30px;
                        }

                        ul {
                            li {
                                padding-bottom: 20px;

                                @media (max-width: 767px){
                                    padding-bottom: 10px;
                                }

                                &:last-child {
                                    padding-bottom: 0;
                                }

                                a {
                                    color: $brand-color;
                                    font-family: $font-lato-regular;
                                    font-size: 18px;
                                    text-transform: uppercase;

                                    @media (max-width: 767px){
                                        font-size: 14px;
                                    }

                                    &:hover {
                                        color: $dark-green;
                                    }
                                }
                            }
                        }
                    } 
                } 

                @media (max-width: 575px){
                    display: none;
                } 
            }

            .mobile-footer-links{
                display: inline;
                width: 100%;
                text-align: center;
                .links-wrapper {
                    ul {
                        margin-bottom: 5px;
                        padding: 0;
                        list-style: none;

                        li a {
                            color: $text-color;
                            font-size: 12px;

                            &:hover {
                                color: $brand-color;
                            }
                        }
                    }
                    .menu-wrapper{
                        .mobile-links {
                            ul {
                                li {
                                    padding-bottom: 20px;
                                    
                                    &:first-child {
                                        padding-top: 20px;
                                    }
                                    &:last-child {
                                        padding-bottom: 10px;
                                    }
        
                                    a {
                                        color: $brand-color;
                                        font-family: $font-lato-regular;
                                        font-weight: 300px;
                                        font-size: 18px;
                                        text-transform: uppercase;
        
                                        @media (max-width: 767px){
                                            font-size: 14px;
                                        }
        
                                        &:hover {
                                            color: $dark-green;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    @media (max-width: 575px){
                        .nav-item {
                            &.show {
                                .nav-link {
                                    color: $dark-green;
                                }
            
                                .nav-primary{ 
            
                                    &.dropdown-toggle:after {
                                        background-image: url('../assets/images/nav-show.png');
                                    }
                                }
                            }
            
                            .nav-primary{
                                color: $dark-green;
                                font-family: $font-lato-bold;
                                
                                &.dropdown-toggle:after {
                                    content: "";
                                    position: inline-block;
                                    top: 50%;
                                    right: 0px;
                                    margin-left: 3%;
                                    transform: translateY(25%);
                                    height: 8.58px;
                                    width: 15px;
                                    border: 0;
                                    background-image: url('../assets/images/menu-dropdown.png');
                                    background-size: cover;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    
                                }
                            }
                            
                            &:not(.show) + .show {
                                .about{
                                    margin-bottom: 80px;
                                }
                                .get-involved{
                                    margin-bottom: 330px;
                                }
                                .latest{
                                    margin-bottom: 230px;
                                }
                            }
                            .dropdown-menu{
                                position: fixed;
                                bottom: 100%;
                                padding: 0;
                                text-align: center;
                                min-width: 100%;
                                border: none;
                                background-color: transparent;
                                z-index: 9999;
                            }
                        }
                    }    
                } 
                @media (min-width: 576px){
                    display: none;
                }

                @media (max-width: 575px){
                    display: block;
                } 
            }

            .footer-form {
                width: 360px;
                max-width: 100%;

                .footer-title {
                    padding-bottom: 15px;

                    @media (max-width: 767px){
                        text-align: center;
                    }
                }

                .form-wrapper {
                    text-align: right;

                    .form-group {
                        margin-bottom: 10px;
                    }

                    .btn-solid {
                        margin-top: 10px;
                        padding-top: 5px;
                        padding-bottom: 5px;

                        @media (max-width: 767px){
                            width: 100%;
                        }
                    }
                }
            }

            @media (max-width: 576px) {
                .mobile-footer-links {
                    order: 2;
                }

                .footer-form {
                    padding-top: 20px;
                    order: 1;

                    .footer-title{
                        text-align: left;
                    }
                }
            }
        }

        .text-with-three-icon{
            padding-top: 0;

            .content-container{
                .three-icons-container{
                    
                    @media (max-width: 540px){
                        flex-direction: row;
                    }
                }
            }
        }

        &.landing-page{
            .footer-title{
                text-align: left;
                color: #353535;
                font-size: 30px;
                text-transform: capitalize;
            }

            .form-wrapper{
                .button-wrapper{
                    
                    @media (max-width: 767px){
                        text-align: left;
                    }
                }
            }
        }
    }

   
    .footer-bottom {
        padding: 27px 0;
        background-color: $text-color;

        .footer-bottom-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            @media (max-width: 991px) {
                justify-content: center;
            }

            .social {
                @media (max-width: 991px) {
                    width: 100%;
                }
    
            }

            .copyright {
                @media (max-width: 991px) {
                    width: 100%;
                }
    
            }
        }

        .social-media-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            @media (max-width: 991px) {
                padding-bottom: 20px;
            }

            .title {
                padding-right: 20px;
                text-transform: uppercase;
                color: #fff;
                font-size: 14px;

                @media (max-width: 767px) {
                    padding-bottom: 15px;
                    padding-right: 0;
                    width: 100%;
                    text-align:center;
                }
            }

            .icon {
                padding: 0 8px;
            }
        }

        p {
            margin: 0;
            color: #fff;
            font-size: 14px;
            text-align: center;

            a {
                padding-left: 10px;
                color: #fff;
                text-decoration: underline;

                @media (max-width: 991px) {
                    display: block;
                }
            }
        }
    }
}