//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


header {
    border-bottom: 1px solid;
    .top-navbar {
        padding: 15px 0;
        background: linear-gradient(180deg, #FCFCFC 0%, #F6F6F6 65.78%, #F2F2F2 100%);

        .btn-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            a.btn-solid {
                margin-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 23px;
                padding-right: 23px;
                font-size: 12px;
            }
        }
    }
}

