.btn-solid {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: $font-lato-regular;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    
    @media (max-width: 991px) {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        padding-right: 35px;
    }

    @media (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 14px;
    }

    &:hover,
    &:active,
    &:focus {
        color: #fff;
    }

    &.green {
        background-color: $dark-green;

        &:hover,
        &:active,
        &:focus {
            background-color: #3e8974;
        }
    }
    
    &.orange {
        background-color: $dark-orange;

        &:hover,
        &:active,
        &:focus {
            background-color:#e98f4a;
        }
    }

    
    &.red{
        background-color: #DA322A;

        &:hover,
        &:active,
        &:focus {
            background-color:#B71C1C;
        }
    }

    &.dark-orange{
        background-color: #FF5000;

        &:hover,
        &:active,
        &:focus {
            background-color:#d94703;
        }
    }
}