.form-control,
.wpcf7-form-control{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-family: $font-lato-light;
    border-radius: 0;
    border: 1.25px solid #DEDEDE;

    &:active,
    &:focus {
        border: 1.25px solid #DEDEDE;
    }

    &.bg-white {
        background-color: #fff;
    }
}