.tabs{
    .tab-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .tab-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 2%;
            margin: 0;
            padding: 0;
            padding-bottom: 20px;
            list-style: none;

            @media (max-width: 1199px){
                gap: 10px;
            }

            li{
                &.title{
                    width: 100%;
                    font-family: $font-lato-bold;
                    font-size: 17px;
                }
                &:not(.title){
                    flex-basis: 18.4%;
                    flex-grow: 2;
                    font-family: $font-lato-regular;
                    font-size: 14px;
                    line-height: 45px;
                    font-weight: 500;
                    background-color: #D5D5D3;
                    border-radius: 10px;
                    @media (max-width: 991px){
                        flex-basis: 45.4%;
                    }
                    @media (max-width: 400px){
                        flex-basis: 100%;
                    }
                    a{
                        display: block;
                        padding: 0 20px;
                        text-decoration: none;
                        color: #fff;
                        border-radius: 10px;
                    }
                    &:hover{
                        color: #FFF;
                        background: $dark-green;
                    }
                    &.active a{
                        color: #FFF;
                        background: $dark-green;
                    }
                }
            }
            &.orange{
                li{
                    &:hover{
                        background: $dark-orange;
                    }
                    &.active a{
                        background: $dark-orange;
                    }
                }
            }
        }

        .tab-content {
            margin-top: 20px;
            padding: 20px;
            border-top: none;

            @media (max-width: 767px){
                flex-basis: 70%;
                margin-top: 10px;
                padding-top: 10px;
            }
            &>div {
                display: none;

                &.active-tab {
                    display: block;
                }
            }
        }
    }

    &.three-column-hover{
        .tab-content{
            padding: 20px 0;
            .content-container{
                display: flex;
                gap: 3%;
                flex-wrap: wrap;
                &>div{
                    flex-basis: 31.33%;
                    @media (max-width: 991px){
                        flex-basis: 48.5%;
                    }
                    @media (max-width: 767px){
                        flex-basis: 100%;
                    }
                    &.column{
                        position: relative;
                        margin-bottom: 5%;
                        .content{
                            position: absolute;
                            bottom: 0;
                            padding: 1.5em;
                            color: #fff;
                            z-index: 999;
                            h2{
                                font-size: 40px;
                                @media (max-width: 1199px){
                                    font-size: 30px;
                                }
                                @media (max-width: 767px){
                                    font-size: 21px;
                                }
                            }
                            p{
                                visibility: hidden;
                                max-height: 0;
                                font-size: 13px;
                                line-height: 25px;
                                margin: 0;
                                opacity:0;
                                transition:visibility 0.3s linear,opacity 0.3s linear,max-height 0.45s ease-in;
                            }
                        }
                        &:hover{
                            .content{
                                p{
                                    visibility: visible;
                                    max-height: 500px;
                                    opacity:1;
                                    transition:visibility 0.3s linear,opacity 0.3s linear,max-height 0.45s ease-out;
                                }
                            }
                            &:after{
                                height: 100%;
                                transition: height 0.25s ease-out;
                            }
                        }
                        &:before{
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0;
                            height: 0;
                            width: 100%;
                            background-color: rgba(0,0,0,.2);
                            z-index: 1;
                            transition: height 0.25s ease-in;
                        }
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0;
                            height: 0;
                            width: 100%;
                            background-color: rgba(75,160,136,.85);
                            z-index: 1;
                            transition: height 0.25s ease-in;
                        }
                    }
                }
            }   
        }
    }
}