.card-column{
    .row-container{
        display: flex;
        gap: 6%;
        flex-wrap: wrap;

        @media(max-width: 991px){
            flex-direction: column;
        }
        >div{
            position: relative;
            flex-basis: 47%;
            flex-grow: 1;
            &:first-child{
                @media(max-width: 991px){
                    margin-bottom: 30px;
                }
            }
        }
        .image-wrapper{
            position: relative;
            padding-top: 70%;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}