.card-column{
    .row-container{
        display: flex;
        gap: 80px;
        @media(max-width: 980px){
            flex-direction: column;
        }
        img{
            margin-bottom: 20px;
        }
    }
}