.card-column{
    .row-container{
        display: flex;
        gap: 6%;
        flex-wrap: wrap;

        @media(max-width: 980px){
            flex-direction: column;
        }
        >div{
            position: relative;
            padding-top: 399px;
            flex-basis: 47%;
            flex-grow: 1;
            &:first-child{
                @media(max-width: 980px){
                    margin-bottom: 30px;
                }
            }
        }
        img{
            margin-bottom: 20px;
            position: absolute;
            top: 0;
        }
    }
}