.contact-us-column{
    @media(max-width: 980px){
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .row-container{
        display: flex;
        gap: 2%;
        flex-wrap: wrap;

        @media(max-width: 991px){
            flex-direction: column;
        }
        >div{
            flex-basis: 15%;
            flex-grow: 1;
            &:first-child{
                flex-basis: 25%;
                @media(max-width: 991px){
                    margin-bottom: 30px;
                }
            p{
                font-size: 14px;
                padding-right: 28px;
            }
            }

        }
        img{
            margin-bottom: 20px;
        }
        .column-container{
            display: block;
            align-items: center;
            border-right: 0.8px #4BA088 solid;
            @media(max-width: 991px){
                border-right:none;
            }
            &:last-child{
                border-right:none;
            }
            &.child{
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                font-size: 14px;
                h3{
                    font-size: 20px;
                }
            }
            .column-container-child{
                margin-top: 17px;
            }

           h2{
            margin-bottom: 14px;
           }
        }
    }
}