.main-banner {
    padding-top: 0;
    padding-bottom: 30px;

    .bg-holder {
        position: relative;

        .bg-bottom {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: auto;
            z-index: 2;
        }
    }
      
    .main-banner-wrapper {
        position: relative;
        padding-top: 50px;
        padding-bottom: 150px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        z-index: 1;

        .text-wrapper{
            @media (max-width: 1199px) {
            text-align: center;
            }
            
        }
    }

    .container {
        @media (max-width: 991px) {
            max-width: 100%;
        }
    }

    .large-image {

        .banner-wrapper {
            position: relative;

            .text {
                // width: initial;
                z-index: 1;

                .text-wrapper {
                    padding-top: 50px;
                    
                    @media (max-width: 1199px) {
                        padding-top: 0;
                    }
                }
            }

            .image {
                min-height: 470px;
                text-align: left;
                z-index: 0;

                @media (max-width: 1199px) {
                    display: flex;
                    align-items: center;
                }

                @media (max-width: 991px) {
                    min-height: 350px;
                }

                @media (max-width: 767px) {
                    padding-top: 30px;
                    min-height: auto;
                }

                img {
                    position: absolute;
                    top: 0;
                    right: -140px;

                    @media (max-width: 1199px) {
                        position: initial;
                    }

                    @media (max-width: 767px) {
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    
    .banner-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 767px) {
            flex-direction: column;
            text-align: center;
        }

        .text {
            width: 46%;

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        .image {
            min-height: 425px;
            width: 54%;
            text-align: right;

            @media (max-width: 991px) {
                min-height: auto;
            }

            @media (max-width: 767px) {
                padding-top: 30px;
                width: 100%;
                text-align: center;
            }
    
            &.offset {
                margin-left: -100px;
            }
        }
    }

    h2 {
        font-family: $font-lato-regular;
        font-size: 26px;
        font-weight: 600;
        text-transform: initial;

        @media (max-width: 991px) {
            font-size: 22px;
        }

        @media (max-width: 767px) {
            font-size: 18px;
        }
    }

    .btn-wrapper {
        padding-top: 20px;

        .btn-solid:first-child {
            margin-right: 20px;
            @media (max-width: 767px) {
                margin-right: 10px;
            }
        }
    }


    &-slider {
        margin-top: -140px;

        @media (max-width: 767px) {
            margin-top: -50px;
        }

        .container {
            @media (min-width: 1200px) {
                max-width: 1218px;
            }

            @media (max-width: 1199px) {
                max-width: 1035px;
            }
        }

        .banner-slider {
            z-index: 3;
            .item {
                display: flex;
                background: #FFFFFF;
                margin-bottom: 50px;
                margin-left: 40px;
                margin-right: 40px;
                box-shadow: 0px 18px 27px rgba(0, 0, 0, 0.122132);

                @media (max-width: 767px) {
                    flex-direction: column;
                    margin-left: 20px;
                    margin-right: 20px;
                }

                .image {
                    width: 52%;
                    position: relative;

                    @media (max-width: 767px) {
                        padding-top: 57%;
                        width: 100%;
                    }

                    img,
                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    iframe {
                        padding: 15px 0px 15px 15px;

                        @media (max-width: 991px) {
                            padding: 0;
                        }
                    }
                }

                .text {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 48%;
                    padding: 80px 40px 40px 40px;

                    @media (max-width: 767px) {
                        width: 100%;
                    }
                    
                    .post-type {
                        position: absolute;
                        top: 0;
                        left: 50px;
                        display: flex;
                        align-items: center;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-bottom: 15px;
                        padding-top: 15px;
                        font-size: 14px;
                        color: #fff;
                        text-transform: uppercase;
                        background-color: $dark-green;
                        border-bottom-right-radius: 10px;
                        border-bottom-left-radius: 10px;

                        img {
                            margin-right: 6px;
                        }
                    }

                    .text-wrapper {
                        
                        p {
                            padding-top: 5px;
                        }

                        .btn-green {
                            margin-top: 5px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                
                    }
                }
            }
        }
        &.w-media{
            .banner-slider{
                .item{
                    .text{
                        padding: 80px 40px 80px 40px;
                    }
                }
            }
        }
    }

    .slick-dots {
        margin-top: -40px;

        li {
            margin: 0 0.5rem;

            .slick-active {
                button {
                    background-color: $text-color;
                }
            }
        }

        button {
            width: 10px;
            height: 10px;
            background-color: #fff;
            border: 1px solid $text-color;
        }
    }
    .three-icons-container{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Lato';
        @media (min-width: 767px) and (max-width:1180px){
            align-items: left;
            flex-direction: column;

        }
        @media (max-width: 480px){
            flex-direction: column;
            align-items: center;

        }

    }
    .three-icons-container img{
        margin:6px;
    }

    &.landing-page{
        .main-banner-wrapper{
            padding-top: 200px;
            padding-bottom: 300px;

            @media (max-width: 768px){
                padding-top: 100px;
                padding-bottom: 150px;
            }

            .banner-wrapper{
                .text{
                    width: 100%;
                }
            }
        }
        .landing-page-title{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 30px;

            @media (max-width: 768px){
                justify-content: center;
            }

            h1{
                font-size: 88px;
                letter-spacing: -1.5px;

                @media (max-width: 991px){
                    font-size: 78px;
                }
                @media (max-width: 768px){
                    font-size: 66px;
                }
            }
        }

        .main-banner-slider{
            margin-top: -250px;

            @media (max-width: 768px){
                margin-top: -200px;
            }

            .banner-slider{
                .item{
                    justify-content: center;
                    box-shadow: none;
                    min-height: 350px;
                    background: transparent;
                }
            }
        }
    }
}