.our-history{
    padding-bottom: 100px;
    .tab-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media (max-width: 767px){
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        .tab-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            margin: 0;
            padding: 0;
            padding-bottom: 20px;
            list-style: none;
            border-bottom: 1px solid #000000;

            @media (max-width: 1199px){
                gap: 10px;
            }
            @media (max-width: 767px){
                flex-basis: 30%;
                flex-direction: column;
                border-bottom: none;
                border-right: 1px solid #000000;
                padding-right: 20px;
            }

            li {
                font-family: $font-lato-bold;
                font-size: 30px;
                line-height: 57px;

                @media (max-width: 991px){
                    font-size: 18px;
                }

                &:first-child(){
                    margin-right: -20px;

                    @media (max-width: 1199px){
                        margin-right: 0px;
                    }
                }

                a{
                    display: block;
                    padding: 0 20px;
                    text-decoration: none;
                }

                &.active a{
                    background: $dark-green;
                    color: #FFF;
                    border-radius: 10px;
                }
            }
            
            &.text-green{
                li{
                    a{
                        color: $dark-green;
                    }
                    &.active{
                        a{
                            color: #FFF;
                        }
                    }
                }
            }
        }

        .tab-content {
            margin-top: 20px;
            padding: 20px;
            border-top: none;

            @media (max-width: 767px){
                flex-basis: 70%;
                margin-top: 10px;
                padding-top: 10px;
            }
            div {
                display: none;

                &.active-tab {
                    display: block;
                }
            }
        }
    }

    // custom horizontal timeline class styling
    .cd-h-timeline__date {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        font-family: "Lato Bold";
        background: #FFF;
        color: $dark-green !important;
        padding-left: 25px;
        padding-right: 25px;
        padding: 0 25px !important;
        border-radius: 10px;
        font-size: 30px;
        line-height: 57px;
        @media(min-width:64em){
            font-size: 1.5em!important;
            font-weight: bold;
        }
      }

    .cd-h-timeline__date--selected {
        background: $dark-green;
        color: #FFF !important;
        &::after {
          background-color: var(--cd-color-2);
          border-color: var(--cd-color-2);
        }
    }

    .cd-h-timeline__line { // grey line
    position: relative;
    z-index: 1;
    left: 0;
    top: 0px;
    height: 1px; // width will be set using JavaScript
    background: rgb(219, 219, 219) !important;
    transition: transform 0.4s;
        ol{
            position: absolute;
            top: 25px;
        }
    }
    .cd-h-timeline__filling-line { // green filling line
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $dark-green!important;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s;
    }

    .prev-history, .next-history {
        position: absolute;
        z-index: 1;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 64px !important;
        width: 54px !important;
        background-color: rgb(240, 240, 240);
        color: rgb(77, 77, 77);
        border-radius: 15% !important;
        border: none !important;
        transition: border-color 0.3s;
    }

    .history-container {
        position: relative;
        height: 100px;
        max-width: 1140px !important;
    }
    .cd-h-timeline__event-title {
        color: var(--cd-color-1);
        font-family: 'Lato Regular' !important;
        font-weight: 700;
        font-size: 30px !important;
    }
    .cd-h-timeline__event-date {
        display: block;
        font-family: 'Lato Bold';
        font-size: 17px;
        font-style: normal !important;
        margin: var(--space-xs) auto;
    }
    .our-history-description{
        font-size: 16px !important;
    }

    .our-history-navigation { // arrows to navigate the timeline
        position: absolute;
        z-index: 1;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 64px !important;
        width: 54px !important;
        
        background-color: rgba(75, 160, 136, 0.6) !important;
        color: #4BA088 !important;
        border-radius: 25% !important;
        border: none !important;
        transition: border-color 0.3s;
        
        &::after { // arrow icon
          content: '';
          position: absolute;
          height: 26px;
          width: 16px;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        //   background: url(../img/history-arrow.svg) no-repeat 0 0 !important;
        }
    
        &:hover {
          border-color: red !important;
        }
      }

      .cd-h-timeline__navigation--inactive {
        cursor: not-allowed;
        color: #2b2929 !important;
        background: #E8E9E8 !important;
    }

    
     //end of custom horizontal timeline class styling
}
