.post-filter{
    .posts-list{
        display: flex;
        gap: 3%;
        flex-wrap: wrap;
        >div{
            flex-basis: 31.33%;
            margin-bottom: 3%;
            @media(max-width: 991px){
                flex-basis: 48.5%;
            }
            @media(max-width: 525px){
                flex-basis: 100%;
            }
            .content-wrapper{
                padding: 25px;
                h5{
                    font-family: $font-lato-bold;
                }
            }
            .read-more{
                font-family: $font-lato-bold;
                font-size: 30px;
                line-height: 1;
            }
        }
    }
}