.post-filter{
    .posts-list{
        display: flex;
        gap: 40px;
        >div{
            flex-basis: 33.33%;
            .image-wrapper{
                position: relative;
                max-height: 250px;
                overflow: hidden;
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
                .post-date-m{
                    display: flex;
                    position: absolute;
                    top: 0;
                    left: 15px;
                    padding: 1.5em .8em;
                    color: white;
                    border-radius: 0px 0px 12px 12px;
                    background-color: $dark-green;
                    z-index: 999;
                    p{
                        margin-bottom: 0;
                    }
                }
                .read-more{
                    position: absolute;
                    bottom: 0;
                    z-index: 999;
                    visibility: hidden;
                    max-height: 0;
                    margin: 0;
                    padding: 1em;
                    opacity:0;
                    color: #fff;
                    transition:visibility 0.3s linear,opacity 0.3s linear,max-height 0.45s ease-in;
                }
                &:hover{
                    .read-more{
                        visibility: visible;
                        max-height: 500px;
                        opacity:1;
                        transition:visibility 0.3s linear,opacity 0.3s linear,max-height 0.45s ease-out;
                    }
                }
            }
            .content-wrapper{
                padding: 25px;
                h5{
                    font-family: $font-lato-bold;
                }
            }
        }
    }
}