.recent-post-slider{
    .column{
        display: flex;
        @media(max-width: 991px){
            flex-direction: column;
        }
        >div{
            flex-basis: 50%;
            flex-grow: 1;
            @media(max-width: 991px){
                flex-basis: 100%;
            }
            &.image-wrapper{
                img{
                    object-fit: cover;
                    min-height: 338px;
                    height: 100%;
                    width: 100%;
                }
            }
            &.content-container{
                padding: 80px 40px 40px 40px;
                @media(max-width: 991px){
                    padding: 40px;
                }
                .recent-post-icon{
                    display: flex;
                    position: absolute;
                    top: 0;
                    padding: 1.5em;
                    color: white;
                    border-radius: 0px 0px 12px 12px;
                    background-color: $dark-green;
                    img{
                        margin-right: 10px;
                        object-fit: contain;
                    }
                    p{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .slick-slider{
        .slick-dots{
            position: absolute;
            width: 100%;
            padding: 40px 0;
            li {
                margin: 0 .5rem;
            }
            button{
                width: 10px;
                height: 10px;
                border: 1px solid #000;
            }
        }
    }
}