
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(214, 214, 214); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(226, 225, 225); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999999; 
  }
.post-filter{
    ::-webkit-scrollbar {
        display: none;
      }
    .select2-container {
      min-width: 250px;
    }
    
    .select2-results__option {
      padding-right: 20px;
      vertical-align: middle;
    }
    .select2-results__option:before {
      content: "";
      display: inline-block;
      position: relative;
      height: 20px;
      width: 20px;
      border: 2px solid #e9e9e9;
      border-radius: 4px;
      background-color: #fff;
      margin-right: 20px;
      vertical-align: middle;
    }
    .select2-results__option[aria-selected=true]:before {
      font-family:fontAwesome;
      content: "\f00c";
      color: #fff;
      background-color: #f77750;
      border: 0;
      display: inline-block;
      padding-left: 3px;
    }
    .select2-container--default .select2-results__option[aria-selected=true] {
        background-color: #fff;
    }
    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #eaeaeb;
        color: #272727;
    }
   
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
        border-radius: 15px;
    }
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border-color: $dark_green;
        border-radius: 15px;
        border-width: 2px;
    }
    .select2-container--default .select2-selection--multiple {
        padding-left: 2px;
        max-height: 25px;
        overflow-y: scroll;
        border-radius: 15px;
        border-width: 2px;
        margin-bottom: 0px;
        
    }
    .select2-container--default .select2-selection--multiple .select2-selection__clear {
        position: absolute;
        top: 15px;
        right: 2px;
        font-size: 16px;
        font-weight: bold;
        color: $dark_green;
        cursor: pointer;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        font-size: 12px;
        background-color: transparent;
        border: 1px solid #c9c7c7;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
    }
    .select2-container--open .select2-dropdown--below {
        
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
    }
    .select2-selection .select2-selection--multiple:after {
        content: 'hhghgh';
    }
    /* select with icons badges single*/
    .select-icon .select2-selection__placeholder .badge {
        display: none;
    }
    .select-icon .placeholder {
        display: none;
    }
    .select-icon .select2-results__option:before,
    .select-icon .select2-results__option[aria-selected=true]:before {
        display: none !important;
        /* content: "" !important; */
    }
    .select-icon  .select2-search--dropdown {
        display: none;
    }

  
    .input-container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 15%;
      }
      
      
      .input-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        outline: 5px solid white;
        outline-offset: -7px;
        border:1px solid #D9D9D9;
        border-radius: 15%;
      }
      
      .input-container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      
      .input-container input:checked ~ .checkmark {
        background-color: #4BA088;
      }
      
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      .input-container input:checked ~ .checkmark:after {
        display: block;
      }
      
    .row-container{  
        display: flex;
        flex-wrap: wrap;
        .filter-container{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        padding: 10px;
        justify-content: center;
        #search-box{
        line-height: 45px;
        border-radius: 15px;
        width: 450px;
        padding-left: 20px;
        border: 2px solid #aaa;

            @media (max-width: 1199px){
                width: 600px;
            }
            @media (max-width: 991px){
                width: 400px;
            }
            @media (max-width: 767px){
                width: 300px;
            }
            @media (max-width: 476px){
                width: 200px;
            }

        }
        #search-btn{
        padding: 10px;
        width: 70px;
        margin: 0 20px;
            @media (max-width: 376px){
                margin: 3px 5px;
                width: 50px;
            }
        }
          
        .dropdown{
            margin-right: 15px;
        }
        .dropdown-menu{
            min-height: 250px;
            max-height: 250px;
            overflow-y: scroll;
            padding: 5px;
        }
        
        .dropdown-toggle{
            border-radius: 15px;
            width: 250px;
            height: 55px;
            padding-left: 2px;
            color: grey;
            background-color: white;
            border: thin solid rgb(161, 161, 161);
        }
        .dropdown-toggle::after {
            display: none;
        }
        .dropdown-menu{
            width: 100%;
        }
    }

.image-container {
display: flex;
flex-wrap: wrap;
    .row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
        .image {
            border: 2px solid red;
            flex: 1;
            max-width: 100%;
            max-height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }         
}
}

}