.stories-of-the-persecuted-church{
    padding: 0;
    .row-container{
        padding-top: 30px;
        padding-bottom: 30px;
        .bg {
            position: absolute;
            top: 0;
            left: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateX(-50%);
            height: 100%;
            width: auto;
            z-index: -1;
        }
        h2{
            text-align: center;
            margin-bottom: 30px;
        }
        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
            max-width: 100%;
            }
        
            img:first-child {
                flex: 1;
            }
            
            img:last-child {
                flex: 2;
            }
        }
        
        .text-container{
            margin: 30px;
            h4{
                font-weight: 600;
            }
        }
    }   
}