.submit-a-prayer{
    .odd {
        background: #f9f9f9;
    }

    .comment-body{
    padding:12px;
    border-bottom: 1px solid #E2E2E2;
    }

    .comment-respond{
        margin-top: 25px;
    }
} 

