.text-with-three-icon{
    padding-top: 40px;
    padding-bottom: 40px;
    h2{
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
    }
    .content-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
        div{
            flex-grow: 1;
            padding: 0px;
        }
        .three-icons-container{
            flex-basis: 47%;
            flex-direction: row;

            @media (max-width: 991px){
                flex-basis: 100%;
            }
            @media (max-width: 540px){
                flex-direction: column;
            }

            img{
                display: block;
                margin-right: auto;
                margin-left: auto;
               
            }
            gap: 15px !important;
            
        }
        }
        .text-title-container{
            flex-basis: 43%;
            align-self: center;

            @media (max-width: 1199px){
                flex-basis: 100%;
                flex-direction: column;

            }

            h4{
                font-weight: 800;
                font-size: 44px;
                line-height: 37px;
                font-family: 'Lato Bold';
            }
            p{
                font-family: 'Lato Bold';
                font-size: 28px;
            }
            @media (max-width: 1199px) {
                text-align: center;
                }
                
        }
     
    }

    .three-icons-container{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Lato';
        @media (min-width: 767px) and (max-width:1180px){
            align-items: center;

        }
        @media (max-width: 480px){
            flex-direction: column;
            align-items: center;

        }

    }
    .three-icons-container img{
        margin:6px;
    }

