.title-description-with-two-column{
    h2{
        &.text-transform-none{
            text-transform: none;
        }
    }
   
    .content-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding-top: 30px;
        padding-bottom: 30px;

        div{
            flex-grow: 1;
            padding: 0 10px;
        }
        .image-container{
            position: relative;
            flex-basis: 30%;
            text-align: center;

            .tag{
                position: absolute;
                top: 0;
                left: 10px;
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 15px;
                padding-bottom: 15px;
                font-size: 16px;
                text-transform: uppercase;
                color: #fff;
                background: #4ba088;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                z-index: 10;
            }
        }
        .text-container{
            flex-basis: 70%;
            align-self: center;

            @media (max-width: 991px){
                flex-basis: 100%;
                margin: auto;
               
            }
            h3{
                margin-bottom: 20px;

                .italic-regular{
                    font-style: italic;
                    font-family: $font-lato-regular;
                }
            }
            .two-column-list {
                padding-left: 20px;
                columns: 2;

                li{
                    display: list-item;
                    width: 100%;
                    padding: 5px;
                    padding-right: 10px;
                    list-style: disc;
                    break-inside: avoid-column;
                }

                @media (max-width: 678px){
                    columns: 1;
                }
            }
            h4{
                font-weight: 700;
                font-size: 30px;
            }
            h3{
                @media (max-width: 991px){
                    margin-top: 20px;
                    text-align: center;
                }
            }
        }

        &.large-gap{
            gap: 50px;

            .image-container{
                flex-basis: 25%;
            }
            .text-container{
                flex-basis: 65%;
            }
        }
    }
}

.vom-app-section{
    .vom-app-title{
        width: 67%;
        margin: auto;
        font-weight: 800;
        line-height: 44px;
        @media (max-width: 991px){
            width: 100%;
        }
    }
    h4{
        font-family: 'Lato Bold';
    }
    .text-container{
        font-family: 'Lato Regular';
    }
    .content-container:last-child{
        border-bottom: 0 !important;
    }
  
}


