.title-description-with-media{
    .content{
        h2{
            font-size: 30px;
        }
        .color-mark{
            display: inline-block;
            padding-top: 13px;
            padding-bottom: 13px;
            padding-left: 50px;
            padding-right: 50px;
            color: #fff;
            font-size: 16px;
            border-radius: 10px;
            margin: 0px 10px;

            &.orange{
                background-color: $orange;
            }
            &.dark-orange{
                background-color: $dark-orange;
            }
            &.red{
                background-color: $red;
            }
            &.green{
                background-color: $dark-green;
            }
            &.mid-grey{
                background-color: $mid-grey;
            }
        }

        img{
            margin-top: 45px;
        }

        .tab-container {
            display: flex;
            flex-direction: column;
            width: 100%;

            @media (min-width: 1200px){
                .tab-description{
                    padding: 10px 180px;
                }
            }
    
            .tab-menu {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 26px;
                margin: 10px 0 0 0;
                padding: 0;
                padding-bottom: 20px;
                list-style: none;
    
                @media (max-width: 1199px){
                    gap: 10px;
                }
                @media (max-width: 980px){
                    flex-wrap: wrap;
                    li:nth-child(-n+2){
                        line-height: 23px;
                    }
                }
                @media (max-width: 767px){
                    li:last-child {
                        line-height: 45px;
                    }
                }
    
                li{
                    font-family: $font-lato-regular;
                    font-size: 16px;
                    width: 250px;
                    line-height: 45px;
                    font-weight: 500;
                    background-color: #D5D5D3;
                    border-radius: 10px;
                    @media (max-width: 980px){
                        width: 25%;
                    }
                    @media (max-width: 400px){
                        width: 45%;  
                    }
                    a{
                        display: block;
                        padding: 0 20px;
                        text-decoration: none;
                        color: #fff;
                        border-radius: 10px;
                        @media (max-width: 767px){
                            padding: 0 11px; 
                        }
                    }
                    &:hover{
                        color: #FFF;
                        background: $dark-green;
                    }
                    &.active a{
                        color: #FFF;
                        background: $dark-green;
                    }
                }
            }
    
            .tab-content {
                padding: 20px;
                border-top: none;
                
                .content-container{
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    
                    p{
                        width: 100%;

                        iframe{
                            width: 100%;
                        }
                    }
                    img{
                        margin: 0;
                    }
                }
                &>div {
                    display: none;
    
                    &.active-tab {
                        display: block;
                    }
                }
            }
        }
    }
}