.two-column-text-image{
    .row-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

        div{
            flex-grow: 1;
            flex-basis: calc(100% / 2);
            padding: 0 15px;

            @media (max-width: 991px){
                flex-basis: 100%;
            }
        }
        
        .text-container{
            h2 {
                font-size: 30px;
                padding-bottom: 20px;
            }
            ol{
                padding-left: 15px;
            }
            &.with-image-icon{
                text-align: center;
                
                h2{
                    line-height: 30px;
                }
                p{
                    margin: 30px;
                }
                img{
                    display: block;
                    
                    margin: 0px auto 20px auto;
                }

                @media (max-width: 991px){
                    margin-top: 15px;
                }
            }
        }

        .image-container img{
            width: 100%;
        }
        &.reverse{
            flex-direction: row-reverse;
    
            @media (max-width: 991px){
                flex-direction: row-reverse;
            }
        }
        &.reverse .text-container{
            padding-left: 60px ;
            @media (max-width: 991px){
            padding-left: 15px;
            margin-bottom: 50px;
            }
        }
    }

    .alternate-sections{
        h2{
            width: 75%;
        }
        p{
            width: 79%;
        }
    }

}