.why-section{
    padding-bottom: 100px;

    .post-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;

    
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }
}