//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.box-shadow{
  box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.2);
}

.bg-mid-grey{
  background-color: $mid-grey;
}
.box-shadow{
  box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.2);
}

.bg-mid-grey{
  background-color: $mid-grey;
}

.bg-mountain {
  background: url(../../assets/images/mountain-bg.png);
  background: -webkit-gradient(linear,left bottom,left top,color-stop(50%,#f7f7f7),color-stop(50%,transparent)),url(../../assets/images/mountain-bg.png) no-repeat center top/cover;
  background: linear-gradient(to top,#f7f7f7 70%,transparent 50%),url(../../assets/images/mountain-bg.png) no-repeat center top/contain;
  @media(max-width: 1600px){
    background: linear-gradient(to top,#f7f7f7 90%,transparent 50%),url(../../assets/images/mountain-bg.png) no-repeat center top/contain;
  }
  @media(max-width: 980px){
    background: linear-gradient(to top,#f7f7f7 96%,transparent 50%),url(../../assets/images/mountain-bg.png) no-repeat center top/contain;
  }
}