//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.box-shadow{
  box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.2);
}

.bg-mid-grey{
  background-color: $mid-grey;
}
.box-shadow{
  box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.2);
}

.bg-mid-grey{
  background-color: $mid-grey;
}

.bg-mountain {
  padding-top: 100px;
  background: linear-gradient(to bottom,transparent 0px,#F7F7F7 200px),url(../assets/images/mountain-bg.png) no-repeat center top/contain;
  @media (max-width: 768px){
    background: linear-gradient(to bottom,transparent 0px,#F7F7F7 100px),url(../assets/images/mountain-bg.png) no-repeat center top/contain;
  }
}


.bg-mountain-white {
  margin-top: -200px;
  padding-top: 200px;
  background: linear-gradient(to bottom,transparent 0px,#F7F7F7 200px),url(../assets/images/mountain-white-bg.png) no-repeat center top/contain;
  background-size: cover;
  @media (max-width: 768px){
    background: linear-gradient(to bottom,transparent 0px,#F7F7F7 100px),url(../assets/images/mountain-white-bg.png) no-repeat center top/contain;
  }
}

.number-list{
  list-style-type: decimal;
}

.check-list{
  list-style-type: none;
  padding-left: 0;

  li{
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
  }

  li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    display: inline-block;
    margin-right: 0.5em;
    width: 14px;
    height: 14px;
  }

  &.green{
    li::before{
      background-image: url('../assets/images/check-green.png');
      background-size: contain;
      background-repeat: no-repeat; 
    }
  }
}

.text-green{
  color: $dark-green;
}

.font-uppercase {
  text-transform: uppercase;
}

.hover-overlay-green{
  position: relative;
  margin-bottom: 5%;
  .post-card & {
    .content {
      p {
        font-size: 30px;
        font-family: $font-lato-regular;
        text-transform: uppercase;

        @media (max-width: 991px){
          font-size: 25px;
        }
      }
    }
  }
  &.w-read-more{
    .read-more{
      position: absolute;
      bottom: 0;
      margin: 0;
      padding: 1em;
      font-size: 30px;
      color: #fff;
      z-index: 999;
      visibility: hidden;
      max-height: 0;
      opacity:0;
      transition:visibility 0.3s linear,opacity 0.3s linear,max-height 0.45s ease-in;
    }
    &:hover{
        .read-more{
            visibility: visible;
            max-height: 500px;
            opacity:1;
            transition:visibility 0.3s linear,opacity 0.3s linear,max-height 0.45s ease-out;
        }
    }
  }
  .content{
    position: absolute;
    bottom: 0;
    padding: 1.5em;
    color: #fff;
    z-index: 999;
    h2{
      font-size: 40px;
      @media (max-width: 1199px){
        font-size: 30px;
      }
        @media (max-width: 767px){
         font-size: 21px;
      }
    }
    p{
      visibility: hidden;
      max-height: 0;
      font-size: 13px;
      line-height: 25px;
      margin: 0;
      opacity:0;
      transition:visibility 0.3s linear,opacity 0.3s linear,max-height 0.45s ease-in;
    }
  }
  &:hover{
    .content{
        p{
            visibility: visible;
            max-height: 500px;
            opacity:1;
            transition:visibility 0.3s linear,opacity 0.3s linear,max-height 0.45s ease-out;
        }
    }
    &:after{
        height: 100%;
        transition: height 0.25s ease-out;
    }
  }
  &:before{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 0;
      width: 100%;
      background-color: rgba(0,0,0,.2);
      z-index: 1;
      transition: height 0.25s ease-in;
  }
  &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 0;
      width: 100%;
      background-color: rgba(75,160,136,.85);
      z-index: 1;
      transition: height 0.25s ease-in;
  }
}

hr.color-black {
  border-bottom: 1.5px solid black;
  box-shadow: none;
}

.separator {
  padding: 20px 0;
}

.l-padding-top{
  padding-top: 220px;
}
.l-negative-margin-top{
  margin-top: -178px;
}
.s-negative-margin-top{
  margin-top: -65px;
}

.link-with-underline{
  text-decoration: underline;

  &.green{
    color: $dark-green;
  }
  &.red{
    color: $red;
  }
  &.grey{
    color: $dark-grey
  }
  &.orange{
    color: $orange;
  }
  &.dark-orange{
    color: $dark-orange;
  }
}