//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 14px / 1.4 $text-font-stack;
}

h1 {
  font-family: $font-lato-bold;
  font-size: 42px;

  @media (max-width: 991px) {
    font-size: 34px;
  }

  @media (max-width: 767px) {
    font-size: 26px;
  }
}

h2 {
  font-family: $font-lato-bold;
  font-size: 26px;

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

h3 {
  font-family: $font-lato-bold;
  font-size: 30px;
  text-transform: uppercase;

  @media (max-width: 991px) {
    font-size: 26px;
  }

  @media (max-width: 767px) {
    font-size: 20px;
  }
}